node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Te grote videobestanden voor GitHub (>100MB)
src/assets/Schoolprojecten/Case/2526_WPLOJ_DemulderB_Showcase.mp4
src/assets/Schoolprojecten/Case/Showcase - Eindproject.mp4
src/assets/Schoolprojecten/Vlog_(Day_In_The_Life)/2526_WPLOJ_DemulderB_Filmpje.mp4
